.App {
  text-align: center;
}

.nav {
  display: flex;
  align-items: center;
  background-color: #f76743;
  width: 100%;
}

.newMovie {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.newMovie * {
  margin: 0.2rem;
}

.nav * {
  margin-left: 1.5rem;
}

.App-link {
  color: #61dafb;
}
